# Core LaTeX files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex*
*.pdfsync

# Intermediate formats
*.dvi
*.lof
*.lot
*.bbl
*.blg
*.run.xml

# Minted and TikZ
*.pyg
_minted*
*.tikz

# Editors
*.bak
*.swp
*.backup

# Auto folders
auto/
*.el

# PDF output
*.pdf
!resume-template-anonymized.pdf
